.test {
	opacity: 1;
	-moz-transition-property: all;
	-webkit-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
}

/* Following are all the selectors hoverTransition is tested against.
 * Other selectors are considered risky (and inneficient anyway) as they might not work.
 * Additional selectors might be added if the need arise.
 */

/* #id:pseudo */
#test0 {
	transition-property: all;
}

#test0:hover {
	opacity: .2;
}

/* #id .class:pseudo */
#test1 li {
	transition-property: all;
}

#test1 li:hover {
	opacity: .2;
}

/* #id .class:pseudo .class */
#test2 li b {
	transition-property: all;
}

#test2 li:hover b {
	opacity: .2;
}

/* .class:pseudo */
.test3 {
	transition-property: all;
}

.test3:hover {
	opacity: .2;
}

/* .class:pseudo .class */
.test4 b {
	transition-property: all;
}

.test4:hover b {
	opacity: .2;
}